
* {
    box-sizing: border-box;
}

.navbar-inverse{
    background-color: #424242;
    border-color: #000000;
    width: 100%;
}
.fa{
    font-size: 20px;   
}

body {
    font-family: "Open Sans";
}

.header-text1{
    color: #424242;
    font-family: Impact, Charcoal, sans-serif;
    font-style: normal;
    font-size: 70px;
}
.bg-primary{
    background-color: #424242;   
}

.text-uppercase{
    font-family: Impact, Charcoal, sans-serif;;
    font-style: initial;
}

.btn-default{
    background-color: transparent;
    color: white;
    font-family:  sans-serif;
    border-radius: 0;
}

.number{
    font-size: 60px;
    font-family:  Impact, Charcoal, sans-serif;
    font-weight: bold;
}
.service{
    display: inline-block;
    vertical-align: middle;  
}
.floating-box1 {
    display: inline-block;
    position: absolute;
    text-align: center;
    margin-top: 11px;
}
.floating-box2 {
    display: inline-block;
    margin-left: 40px;
}
.divider{
    border-bottom:2px solid #000;
    border-color: #F38181;
    padding-bottom: 10px;
}
.floating-box3 {
    display: inline-block;
    text-align: left;
}
.floating-box4 {
    display: inline-block;
    padding-left: 10px;
}
.panel panel-default a{
    text-decoration: none;
}
.img-responsive{
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

.info  h4{
    font-family: "Noto Sans", sans-serif;
    font-size: 17px;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.item:hover .img-responsive{
    opacity: 0.3;
}

.item:hover .middle {
    opacity: 1;
}

#cta{
    padding: 31px 0 63px;
    background: #1fb7e8;
    position: relative
}
#cta h3 {
    font-size: 30px;
    font-family: cursive;
    margin-bottom: 30px;
    color: #fff;
}
.btn-sm{
    padding: 11px 42px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 0px;
    border: 2px solid white;
}

#sitemap{
    background: #2b2b2b;
    padding: 33px 0 30px;
}
#sitemap h3 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 22px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
a{
    font-family: "Rajdhani", sans-serif;;
}

#sitemap h3 a {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease;  
    background: transparent;
    cursor: auto;
}

#sitemap h3 a:hover{
    color: #7A7A7A;
}

#sitemap ul li a {
    color: #7b7b7b;
    text-decoration: none;
    transition: all 0.5s ease;
    background: transparent;
}
#sitemap ul li a:hover{
    color: white;
}


#sitemap ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sitemap ul li{
    margin: 10px 0;
    font-family: "Noto Sans", sans-serif;
}

#fooater{
    background: #000;
    min-height: 100px;
    font-family: "Noto Sans", sans-serif;
}

.a-footer{
    color: #1fb7e8;
    text-decoration: none;
    transition: all 0.5s ease;
    background: transparent;
}

#fooater p{
    margin: 50px 0 0;
    color: #7b7b7b;
}
.hiring{
    position: fixed;
    bottom: 0px;
    right: 30px;
    height: 44px;
    background: #e7341d;
    font-family: "Rajdhani", sans-serif;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    padding: 0 18px 0 12px;
    line-height: 48px;
    border-radius: 7px;
}
#hiring .hiring a:hover {
    color: white;
    text-decoration: none;
}